@page "/KhongDungPageNay"

<PageTitle>Home</PageTitle>

<SectionContent SectionName="PageTitle">
  <h1 class="m-0 text-black">
    Nhà Sách Online
  </h1>
</SectionContent>

<div class="container-lg">
  Xin chào
</div>